@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;

  background: rgb(5, 20, 136);
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 80vh;
  border-radius: 15px;
  margin: 8px;
  cursor: pointer;
  color: #fff;
  flex: 1;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;

  transition: all 800ms ease-in-out;

  /* border: solid 3px rgb(12, 14, 72); */
  box-shadow: 0 0 5px 2px rgba(19, 2, 53, 0.6);
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;

  opacity: 0;

}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.4s;   /*0,4s делает чтобі текст появлялся после active*/
}